# База данных
POSTGRES_DB=wishlist
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_HOST_PORT=5432
POSTGRES_CONTAINER_PORT=5432
POSTGRES_SSL_MODE=disable

# бэк
SERVER_HOST_PORT=8000
SERVER_CONTAINER_PORT=8000
SERVER_HOST=127.0.0.1
CONFIG_PATH=config.yaml